.visualizer__element {
  width: 1.2%;
  margin-left: 3px;
  margin-right: 3px;
  background-color: #38b3be;
  box-shadow: 0px 3em 9px rgba(0, 0, 0, 0.4), 0px 0px 5px 3px #0af;
  border-radius: 4px;
}
.visualizer__outer {
  margin-top: 9%;
  background-color: transparent;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.visualizer__element.active {
  background-color: #0ff;
  box-shadow: 0px 3em 9px rgba(0, 0, 0, 0.4), 0px 0px 5px 3px #0ff;
  border-radius: 4px;
}
