.visualizer__element {
  width: 50%;
  max-width: 50%;
  margin-left: 3px;
  margin-right: 3px;
  background-color: #38b3be;
  box-shadow: 0px 3em 9px rgba(0, 0, 0, 0.4), 0px 0px 5px 3px #0af;
  border-radius: 4px;
}
.visualizer__outer {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.visualizer__inner {
  height: 60vh;
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.visualizer__element.active {
  background-color: #0ff;
  box-shadow: 0px 3em 9px rgba(0, 0, 0, 0.4), 0px 0px 5px 3px #0ff;
  border-radius: 4px;
}
